.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Custom css------------------ */


.assetarea {
  margin-top: 50px;
}

.assetfield {
  display: inline-block;
    padding: 18px 22px;
    border: 1px solid rgba(4, 4, 5, 0.1);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    width: 270px;
    margin-bottom: 20px;

}
.assetimage {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 16px;
}
.assetdetail {
  margin-top: 15px;
  text-align: left;
  padding-left: 26px;
}

.assetfield p {
  padding: 5px;
  margin: 0;
}
p.assetstatus {
  font-weight: bold;
  color: rgb(0, 163, 255);
}
h3.assetname {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
.generatenftarea {
  margin: 20px auto;
}
.generatenftarea label {
  margin-right: 10px;
}

.generatenftarea table tr td {
  /* background: red; */
  padding: 16px;
}
.generatenftarea table tr td input {
  padding: 5px;
  width: 300px;
}
.generatenftarea table {
  margin: auto;
}
.generatenftarea button {
  padding: 10px;
}
.imagesection img {
  max-width: 800px;
  max-height: 400px;
}

.singlemodaldetail {
  padding-top: 20px;
}

.imagesection {
  padding: 20%;
  border: 2px solid #f1f1f1;
  height: 80vh;
}
.imagesection img {
  max-width: 400px;
  max-height: 200px;
}
.sidedetail h2 {
  margin-bottom: 30px;
}

.detailsection {
  text-align: left;
  height: 100%;
  padding: 30px;
  border: 2px solid #f1f1f1;
  height: 80vh;
}
.sidedetail {
  height: 80%;
}


button.closemodal {
  padding: 10px;
  font-size: 18px;
  position: absolute;
  top: 7px;
  right: 7px;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.5)!important;
}

.qrcode-area {
  text-align: center;
  padding: 10px 20px;
}
.paysection {
  text-align: center;
}
.paysection input {
  padding: 10px;
  width: 90%;
  border: 1px solid;
}
.qrcode-area img {
  max-width: 400px;
  height: auto;
}
.paymentmodal {
  margin: 0 60px;
}

.parentDisable{
  position: fixed;
  top: 0;
  left: 0;
  background: #666;
  opacity: 0.8;
  z-index: 998;
  height: 100%;
  width: 100%;
}

.overlay-box {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  color: white; background: #666666; opacity: .8;
  z-index: 1000;
}